@model ConfirmCartViewModel;
@{
    ViewData["Title"] = "Confirm command";
}
<main class="container py-4">

    <partial name="_CartContentPartial" model="@Model.Cart"></partial>

    <partial name="_ErrorSuccessMessagesPartial" />

    <form method="post" asp-controller="Cart" asp-action="ValidCommand">
        <input type="hidden" name="shopId" value="@Model.Shop.Id" />

        <div class="row container-fluid py-3">
            <div class="col-lg-6 mb-4">
                <div class="row py-4">
                    <h2 class="h2 fw-bold mb-3">@Model.Shop.Name</h2>
                    @if (TempData["Distance"] != null)
                    {
                        <p>Distance : @(TempData["Distance"] as string)</p>
                    }
                    <p class="text-mutes mb-4">
                        @Model.Shop.Adress!.ToString()
                    </p>
                </div>

                <div class="col-md-11 text-center">
                    <iframe class="shop_on_map" src="@(Model.Shop.InsertMap)"></iframe>
                </div>
                <button class="btn btn-primary col-md-11 my-2" type="submit"  >Confirm Order</button>
            </div>
            <div class="col-lg-4 pt-3">
                <h3 class="p-2">Select a timeslot</h3>
                <div class="list-group list-group-flush shadow-sm border-2" style="max-height:600px; overflow-y: scroll;">
                    @{
                        for (int i = 0; i < Model.Shop.Timeslots.Count; i++)
                        {
                            if (Model.Shop.Timeslots[i].StartTime > DateTime.Now.AddHours(24) && Model.Shop.Timeslots[i].NumberOfOrders < 10)
                            {
                                <input type="radio" name="timeslot" id="ts-@i" value="@Model.Shop.Timeslots[i].StartTime" class="ts-radio" hidden />
                                <label for="ts-@i" class="list-group-item d-flex justify-content-between align-items-center px-2 m-2">
                                        @Model.Shop.Timeslots[i].StartTime.ToString("dd'/'MM'/'yyyy ': From' HH")h00 to @Model.Shop.Timeslots[i].EndTime.ToString("HH")h00
                                    <span class="badge bg-secondary rounded-pill">
                                        @(10 - Model.Shop.Timeslots[i].NumberOfOrders)
                                    </span>
                                </label>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </form>
</main>
