@model List<Shop>
<main class="container py-4">

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["Error"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }

    <h1 class="h1 fw-bold mb-3">Select a shop</h1>

    <form method="post" asp-action="Confirm" class="pb-4">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
            @{
                List<double>? distances = null;
                if(TempData["Distances"] != null)
                {
                    distances = System.Text.Json.JsonSerializer.Deserialize<List<double>>(TempData["Distances"] as string ?? "");
                }
            }
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="col">
                    <input type="radio" name="shopId" id="shop-@Model[i].Id" value="@Model[i].Id" class="shop-radio" hidden />

                    <label for="shop-@Model[i].Id" class="card h-100 shadow-sm product-card shop-card w-100">
                        <div class="card-body">
                            <h2 class="h4 mb-3">@Model[i].Name</h2>
                            <p class="text-muted">@Model[i].Adress!.ToString()</p>
                            @if (TempData["Distances"] != null && distances != null)
                            {
                                <p>Distance with you : @(distances[i]:f3) km</p>
                            }
                        </div>
                        <div class="p-2">
                            <iframe class="shop_on_map" src="@(Model[i].InsertMap)"></iframe>
                        </div>
                    </label>
                </div>
            }
        </div>

        <button type="submit" class="btn btn-primary col-md-9 my-4 d-block m-auto">Select that shop</button>
    </form>
</main>