@model Order

<tr>
    <td class="text-center"><span class="badge bg-secondary">#@Model.OrderId</span></td>
    <td class="text-center">@Model.Status.ToString()</td>
    <td class="text-center">
        <i class="bi bi-clock me-1"></i> @Model.Slot.StartTime.ToString("dd'/'MM'/'yyyy > HH:mm") - @Model.Slot.EndTime.ToString("HH:mm")
    </td>
    <td><strong>@Model.Client.LastName</strong> @Model.Client.FirstName</td>
    <td class="text-center">
        <a class="btn btn-sm btn-success fw-bold"
           asp-controller="Cashier" asp-action="Payment" asp-route-id="@Model.OrderId">
            Process
        </a>
    </td>
</tr>