@model CashierViewModel

@{
    ViewData["Title"] = "Cashier Area";
}

<div class="container mt-5">
    <partial name="_ErrorSuccessMessagesPartial"> </partial>
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white fw-bold">🛒 Cashier Area</div>
        <div class="card-body">
            <h5 class="card-title">Hello, @Model.Employee.FirstName !</h5>
            <p class="card-text">Welcome to your checkout station. At @Model.Employee.ItsShop.Name.</p>
            <hr />

            <div class="table-responsive">
                <table class="table table-hover align-middle border">
                    <thead class="table-light">
                        <tr>
                            <th>Order ID</th>
                            <th>Pickup Time</th>
                            <th>Client Name</th>
                            <th>Status</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <h3 class="text-center">
                                    Today @(DateTime.Today.ToString("dd'/'MM'/'yyyy"))
                                </h3>
                            </td>
                        </tr>

                        @if (Model.TodayOrders.Count() == 0)
                        {
                            <tr>
                                <td colspan="5" class="text-center"> No order for today</td>
                            </tr>
                        }

                        @foreach (var order in Model.TodayOrders)
                        {
                            <partial name="_OrderListCashierPartial" model="@order" />
                        }
                        
                        <tr>
                            <td colspan="5"></td>
                        <tr>
                            <td colspan="5">
                                <hr />
                                <h3 class="text-center">Old Orders</h3>
                            </td>
                        </tr>
                        @foreach (var order in Model.OldOrders)
                        {
                            <partial name="_OrderListCashierPartial" model="@order"> </partial>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
