@model List<ProductQuantity>

@{
    double malus = 0;

    if(TempData["LateMalus"] != null)
    {
        try
        {
            malus = (double)TempData["LateMalus"];
        }
        catch (Exception ex) { }
    }
}
<h1 class="h1 fw-bold m-3">Your cart</h1>

<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center gap-3">
                        <img src="@Model[i].Product.ImageLink" alt="@Model[i].Product.Name" style="width: 60px; height: 60px; object-fit: contain;" />
                        <span>
                            @Model[i].Product.Name
                        </span>
                    </div>
                </td>
                <td>@Model[i].Product.Price.ToString("F2") €</td>
                <td>@Model[i].Quantity</td>
                <td>@((Model[i].Product.Price * Model[i].Quantity).ToString("F2")) €</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-end fw-bold">Service fee :</td>
            <td class="fw-bold text-primary">@Order.TaxOfService €</td>
        </tr>
        @if(malus > 0)
        {
            <tr>
                <td colspan="3" class="text-end fw-bold text-danger">Tax on delay :</td>
                <td class="fw-bold text-danger">+ @malus €</td>
            </tr>
        }
        <tr>
            <td colspan="3" class="text-end fw-bold">Your total is :</td>
            <td class="fw-bold text-primary">
                @((Model.Sum(p => p.Product.Price * p.Quantity) + @Order.TaxOfService + malus).ToString("F2")) €
            </td>
        </tr>
    </tfoot>
</table>