@model List<ProductQuantity>

@{
    double boxes = 0;

    if(TempData["Boxes"] != null)
    {
        try
        {
            boxes = (int)TempData["Boxes"];
        }
        catch (Exception ex) { }
    }

    double price = ((Model.Sum(p => p.Product.Price * p.Quantity) + @Order.TaxOfService + (boxes * Order.BoxDeposit)));
}
<h1 class="h1 fw-bold m-3">The Cart</h1>

<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center gap-3">
                        <img src="@Model[i].Product.ImageLink" alt="@Model[i].Product.Name" style="width: 60px; height: 60px; object-fit: contain;" />
                        <span>
                            @Model[i].Product.Name
                        </span>
                    </div>
                </td>
                <td>@Model[i].Product.Price.ToString("F2") €</td>
                <td>@Model[i].Quantity</td>
                <td>@((Model[i].Product.Price * Model[i].Quantity).ToString("F2")) €</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-end fw-bold">Service fee :</td>
            <td class="fw-bold text-primary">@Order.TaxOfService €</td>
        </tr>
        @if(boxes > 0)
        {
            <tr>
                <td colspan="3" class="text-end fw-bold text-danger">Tax for boxes (@boxes) :</td>
                <td class="fw-bold text-danger">+ @(boxes * Order.BoxDeposit) €</td>
            </tr>
        }
        <tr>
            <td colspan="3" class="text-end fw-bold">Total is :</td>
            <td class="fw-bold text-primary" >
                <p class="d-none" id="final_price_cart">@price</p>
                <p id="final_price_cart_display" class="d-inline">@price.ToString("F2")</p>
                <p class ="d-inline"> €</p>
            </td>
        </tr>
    </tfoot>
</table>